# https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html

CSIRTG_SMRT_ZMQ_ENDPOINT=tcp://localhost:14001
CSIRTG_SMRT_ZMQ_TOPIC=ssh
CSIRTG_SMRT_PROVIDER={{ csirtg_provider }}
CSIRTG_SMRT_ZMQ_TYPE=PUSH_ZYRE_GATEWAY
#ZSYS_INTERFACE=ens3

